<footer class="page-footer green">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Cheer! You also can email me if you have any idea on my work!</h5>
                <p class="grey-text text-lighten-4">My Email: kevinbird61@gmail.com</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact me</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/kevinbird61"><i class="fa fa-github fa-2x" aria-hidden="true"></i> Github </a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/kevinbird61"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i> Facebook </a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCr0ZVY1L7SXZcF34smVJQ-g"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i> Youtube </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright by Kevin CYU
            <a class="grey-text text-lighten-4 right" href="#!">More about me</a>
        </div>
    </div>
</footer>